.todo{
    width: 30%;
    box-sizing: border-box;
    background-color: lightblue;
    padding: .25em;
    border-radius: .75em;
}

.todo h1{
    margin: 0px;
}

.todo p{
    margin: 0px;
}

.completed{
    opacity: 50%;
    background-color: lightgreen;
}